<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Register</title>
</head>
<body>
    <div id="form-container">
        {% if user_type == 'coach' %}
            <h2>Coach Registration</h2>
            <form method="POST" action="{{ url_for('register_coach') }}">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first_name" required>
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last_name" required>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Register</button>
            </form>
        {% elif user_type == 'user' %}
            <h2>User Registration</h2>
            <form method="POST" action="{{ url_for('register_user') }}">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first_name" required>
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last_name" required>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Register</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
